<a class="item">
  <i class="minus link-text icon"></i>
</a>
<div class="fifteen wide field">
  {{#ui-dropdown class="selection fluid data-format" selected=properties.prefix_or_postfix onChange=(action "setPrefixPostfixFieldFromDropdown" field) as |execute mapper|}}
    <div class="default text">
      Source column headings
    </div>
    <i class="dropdown icon"></i>
    <div class="menu">
      {{#each remainingColumnHeadings as |heading|}}
        <div class="item" data-value="{{map-value mapper heading}}">
         {{heading}} (sample value: {{sample-data user_data=user_data heading=heading}})
        </div>
      {{/each}}
    </div>
 {{/ui-dropdown}}
</div>
<div class="ui form">
   <div class="grouped inline fields">
    <div class="field">
      {{ui-radio name="remove_prefix" label="Remove prefix" value="remove_prefix" current=extractionFunction onChange=(action "setPrefixPostfixFieldFromRadio" field)}}
    </div>
    <div class="field">
      {{ui-radio name="remove_postfix" label="Remove postfix" value="remove_postfix" current=extractionFunction onChange=(action "setPrefixPostfixFieldFromRadio" field)}}
    </div>
    <div>
      <i>The value can only be removed if it occurs at the beginning or end of the original field.</i>
    </div>
  </div>
</div>