<div class="ui text container flow">
  <h3 class="first headroom">Contact information {{help-modal model=model submit=(action "changeRoute")}}</h3>
  <div class="ui tiny message">
    <p> <span class="required"> * </span>
      indicates field is <b> required </b> to proceed </p>
  </div>
  <div class="form-content">
    {{#with (changeset model MaintainerValidator) as |changeset|}}
      <div class="ui grid">
        <div class="eight wide column ui form">
          <div class="field ">
            <label>What should we call you?</label>
            {{input
              type="text"
              value=(get changeset "maintainer_name")
              changeset=changeset
              placeholder="name"
              showErrorState=showFormErrorState
            }}
          </div>
        </div>
        <div class="eight wide column ui form">
        <div class="required field ">
          <label>Email address</label>
          {{input
            type="text"
            value=(get changeset "maintainer_email")
            changeset=changeset
            placeholder="you@example.com"
            showErrorState=showFormErrorState
          }}
          </div>
        </div>
      </div>
      {{#if showErrorState}}
        <div>
          <ul class="list">
            {{#each errorMessages as |errorMessage|}}
              <li>{{errorMessage}}</li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
      {{nav-buttons showError="showError" sendChangeRoute="changeRoute" back="mapping" next="review" forwardButtonText="Review" changeset=changeset}}
    {{/with}}
  </div>
</div>
