<div class="ui text container">
  <h3 class="first headroom">Column mapping</h3>
  <table class="ui celled table">
    <thead>
      <tr>
        {{#each-in model.submission.oaFields as |field properties|}}
          {{#if (not properties.columns)}}
            <th>{{field}}</th>
          {{else}}
            <th><a onClick={{action "goToField" field}} class={{if (not-eq currentField field) "inactiveField"}}>{{field}}</a></th>
          {{/if}}
        {{/each-in}}
      </tr>
    </thead>
    <tbody>
      {{#each-in model.submission.exampleRows as |rows fields|}}
        <tr>
          {{#each-in fields as |field label|}}
            <td class={{if (eq currentField field) "active"}}>{{label}}</td>
          {{/each-in}}
        </tr>
      {{/each-in}}
    </tbody>
  </table>
</div>