<div class="ui text container">
  <h3 class="first headroom">Column mapping</h3>
  <table class="ui celled table">
    <thead>
      <tr>
        {{#each-in model.submission.oaFields as |field properties|}}
            <th>{{field}}</th>
        {{/each-in}}
      </tr>
    </thead>
    <tbody>
      {{#each-in model.submission.exampleRows as |rows fields|}}
        <tr>
          {{#each-in fields as |field label|}}
            <td>{{#each label as |value|}}{{value}} {{/each}}</td>
          {{/each-in}}
        </tr>
      {{/each-in}}
    </tbody>
  </table>
  {{#each-in model.submission.oaFields as |field properties|}}
    <form class="ui form segment">
      <div class="field">

        <label>{{field}}</label>
        <div class="ui stackable three column center aligned grid">
          <div class={{if (eq properties.action "join") "seven wide column" "sixteen wide column"}}>

            {{#ui-dropdown class="selection fluid" onChange=(action "chooseColumn" field) as |execute mapper|}}
              <div class="default text">
                  Source column headings
              </div>
              <i class="dropdown icon"></i>
              <div class="menu">
                {{#each columnHeadings as |heading|}}
                  <div class="item" data-value="{{map-value mapper heading}}">
                    {{heading}} (example value: {{sample-data user_data=user_data heading=heading}})
                  </div>
                {{/each}}
              </div>
            {{/ui-dropdown}}
            
            {{#each-in properties as |property value|}}
              {{#if (eq property "columns")}}
                {{#each value as |column index|}}
                  {{#if (eq properties.action "join")}}
                    <a class="item">
                      <i class="plus icon"></i>
                    </a>
                    {{#ui-dropdown class="selection fluid" onChange=(action "addColumn" field index) as |execute mapper|}}
                      <div class="default text">
                          Source column headings
                      </div>
                      <i class="dropdown icon"></i>
                      <div class="menu">
                        {{#each columnHeadings as |heading|}}
                          <div class="item" data-value="{{map-value mapper heading}}">
                            {{heading}} (example value: {{sample-data user_data=user_data heading=heading}})
                          </div>
                        {{/each}}
                      </div>
                    {{/ui-dropdown}}
                  {{/if}}
                {{/each}}
              {{/if}}
            {{/each-in}}

            {{#if (eq properties.action "join")}}
              <div>
                <button class="ui button basic blue" onClick={{action "addJoin" field}}>Join another column <i class="plus icon"></i></button>
                <button class="ui button basic blue" onClick={{action "removeAction" field}}>Remove join <i class="remove icon"></i></button>
              </div>
            {{else if (eq properties.action "split")}}
              <button class="ui button basic blue" onClick={{action "removeAction" field}}>Remove split <i class="remove icon"></i></button>
            {{else}}
              <button class="ui button basic blue" onClick={{action "addAction" field "join"}}>Join two columns for this field</button>
              <button class="ui button basic blue" onClick={{action "addAction" field "split"}}>Split one column for this field</button>
            {{/if}}
          
          </div>
        </div>
      </div>
    </form>
  {{/each-in}}
</div>