<div class="ui text container center aligned">
  <div class="ui icon negative mobile message">
    <i class="warning icon"></i>
    <div class="content">
      <div class="header"> It appears you are on a mobile device. </div>
      <p> This web application works best on a desktop. Please continue on a desktop device </p>
    </div>
  </div>
  <div class="intro">
    <h3 class="first headroom">Welcome! {{help-modal model=model routeToSuccessPage=(action "routeToSuccessPage")}}</h3>
    {{#with (changeset model DataURLValidator) as |changeset|}}
      <p>
        Provide link to data or upload data.
      </p>
      <p>
        <i>Accepted formats are .csv, .geojson, ArcGIS service, and .zip (which contain .csv, .geojson, or .dbf)</i>
      </p>
      <div class="form-content">
        <div class="ui url labeled input">
          <div class="ui label">
            URL
          </div>
          {{input
            type="text"
            value=(get changeset "data_url")
            changeset=changeset
            placeholder="URL for hosted data"
          }}
        </div>
        <div class="ui horizontal divider">
          Or
        </div>
        <div>
          <label for="uploadfile" class="ui upload icon link small button">
            <i class="file icon"></i>
            Choose file to upload
          </label>
          <input type="file" id="uploadfile" style="display:none" onChange={{action "uploadFile"}}>{{fileName}}
        </div>
      </div>
      {{#if showErrorState}}
        <div>
          <ul class="list">
            {{#each errorMessages as |errorMessage|}}
              <li>{{errorMessage}}</li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
      {{nav-buttons sendChangeRoute="changeRoute" next="more-info" showError="showError" changeset=changeset}}
    {{/with}}
  </div>
</div>