<div class="ui text container">
	<h3 class="first headroom">Add license</h3>
	<p>
		Here's where you can add license information.
	</p>
	<div class="ui form segment error">
		{{#if (eq licensePresent false)}}
			<div class="ui error message">
		    <p>Please add license information to proceed</p>
		  </div>
		{{/if}}
		{{#if providedAndSelectedLicense}}
			<div class="ui error message">
		    <p>Please provide a license OR choose from the list</p>
		  </div>
		{{/if}}
		<div class="field">
			<label>Select a pre-formatted License</label>
      {{#ui-dropdown class="selection" selected=selectedLicense onChange=(action "selectLicense") as | execture mapper|}}
				<div class="default text">Licenses</div>
				<i class="dropdown icon"></i>
				<div class="menu">
				  <div class="item" data-value={{map-value mapper null}}>
			      Licenses
			    </div>
					{{#each licenses as | license |}}
				    <div class="item" data-value={{map-value mapper license}}>
				      {{license.name}}
				    </div>
				  {{/each}}
				</div>
			{{/ui-dropdown}}
		</div>
    <div class="field">
    	<label>Copy/paste your own</label>
    	{{input type="text" value=providedLicense placeholder="source name"}}
    </div>
   	{{#unless providedAndSelectedLicense}}
	    {{#if selectedLicense}}
	    	<div class="field">
					<div class="ui message">
						<div class="header">License: {{selectedLicense.name}}</div>
						<p>{{selectedLicense.text}}</p>
					</div>
				</div>
			{{/if}}
			{{#if providedLicense}}
	    	<div class="field">
					<div class="ui message">
						<div class="header">License: user provided</div>
						<p>{{providedLicense}}</p>
					</div>
				</div>
			{{/if}}
		{{/unless}}
	</div>
	{{nav-buttons sendChangeRoute="changeRoute" back="source" next="mapping"}}
</div>