<div class="ui text container">
  <h3 class="first headroom">Column mapping</h3>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>number</th>
        <th>street</th>
        <th>unit</th>
        <th>city</th>
        <th>district</th>
        <th>region</th>
        <th>postcode</th>
      </tr>
    </thead>
    <tbody>
      {{#each samples as |sample| }}
        <tr>
          <td>{{sample.number}}</td>
          <td>{{sample.street}}</td>
          <td>{{sample.unit}}</td>
          <td>{{sample.city}}</td>
          <td>{{sample.district}}</td>
          <td>{{sample.region}}</td>
          <td>{{sample.postcode}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#each mappings as | mapping | }}
    <form class="ui form segment">
      <div class="required field">
        <label>{{mapping}}{{ui-popup tagName="i" class="help circle icon" content="the house number of an address"}}</label>
        {{#ui-dropdown class="selection" onChange=(action "setColumn" mapping) as |execute mapper|}}
          <div class="default text">Source column headings</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each columnHeadings as |heading|}}
              <div class="item" data-value="{{map-value mapper heading}}">
                {{heading}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>
      <button class="ui button basic mini blue" onClick={{action "joinColumns" "street"}}>Join two columns for this field</button>
    </form>
  {{/each}}
</div>
{{nav-buttons sendChangeRoute="changeRoute" back="license" next="contact"}}