<div class="ui text container">
  <h3 class="first headroom">Column mapping</h3>
  <div class="ui teal small message"> Number and street are <b>required</b>, all other columns are optional. </div>
  <div class="form-content">
    <table class="ui celled table">
      <thead>
        <tr>
          {{#each-in model.oaFields as |field properties|}}
            {{#if (not properties.columns)}}
              <th>{{field}}</th>
            {{else}}
              <th><a onClick={{action "goToField" field}} class={{if (not-eq currentField field) "inactiveField"}}>{{field}}</a></th>
            {{/if}}
          {{/each-in}}
        </tr>
      </thead>
      <tbody>
        {{#each-in model.exampleRows as |rows fields|}}
          <tr>
            {{#each-in fields as |field label|}}
              <td class={{if (eq currentField field) "active"}}>{{label}}</td>
            {{/each-in}}
          </tr>
        {{/each-in}}
      </tbody>
    </table>
    {{#each-in model.oaFields as |field properties|}}
      {{#if (eq field currentField)}}
        <form class="ui form segment">
          <div class={{if isRequired "required field"}}>
            <label>{{field}}{{ui-popup tagName="i" class="help circle icon" content="the house number of an address"}}</label>
              <div class="ui stackable three column center aligned grid">
                <div class={{if (eq properties.action "join") "seven wide column" "sixteen wide column"}}>
                  {{#ui-dropdown class="selection fluid" onChange=(action "chooseColumn" field) as |execute mapper|}}
                    <div class="default text">
                        Source column headings
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      {{#each columnHeadings as |heading|}}
                        <div class="item" data-value="{{map-value mapper heading}}">
                          {{heading}} (example value: {{sample-data user_data=user_data heading=heading}})
                        </div>
                      {{/each}}
                    </div>
                  {{/ui-dropdown}}
                  {{#if (eq properties.action "split")}}
                    {{#if properties.columns}}
                      {{#if properties.extractionFunction}}
                        {{#if (eq properties.extractionFunction "removeDuplicateValue")}}
                          <div class="ui segments">
                            <div class="ui segment">
                              <p>Choose the column with the value you'd like to remove from the first column</p>
                            </div>
                            <div class="ui segment">
                              {{#ui-dropdown class="selection fluid" onChange=(action "chooseColumnToRemove" field) as |execute mapper|}}
                                <div class="default text">
                                    Source column headings
                                </div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                  {{#each columnHeadings as |heading|}}
                                    <div class="item" data-value="{{map-value mapper heading}}">
                                      {{heading}} (example value: {{sample-data user_data=user_data heading=heading}})
                                    </div>
                                  {{/each}}
                                </div>
                              {{/ui-dropdown}}
                            </div>
                          </div>
                        {{/if}}
                      {{else}}
                        <div class="ui segments">
                          <div class="ui segment">
                            <p>Choose a split method:</p>
                          </div>
                          <div class="ui segment">
                              <button class="ui button basic green" onClick={{action "setExtractionFunction" field "removePrefixNumber" "Remove prefix street"}}>Remove prefix number</button>
                              <button class="ui button basic green" onClick={{action "setExtractionFunction" field "removePostfixStreet" "Remove postfix street"}}>Remove postfix street</button>
                              <button class="ui button basic green" onClick={{action "setExtractionFunction" field "removeDuplicateValue"}}>Remove value found an another column</button>
                          </div>
                        </div>
                      {{/if}}
                    {{else}}
                      <div class="ui segment">
                        <p>Choose a column to split</p>
                      </div>
                    {{/if}}
                  {{/if}}
                </div>
              {{#if (eq properties.action "join")}}
                <div class="two wide column">
                  <a class="item">
                    <i class="plus icon"></i>
                  </a>
                </div>
                <div class="seven wide column">
                  {{#ui-dropdown class="selection fluid" onChange=(action "addColumn" field) as |execute mapper|}}
                    <div class="default text">Source column headings</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      {{#each columnHeadings as |heading|}}
                        <div class="item" data-value="{{map-value mapper heading}}">
                          {{heading}} (example value: {{sample-data user_data=user_data heading=heading}})
                        </div>
                      {{/each}}
                    </div>
                  {{/ui-dropdown}}
                </div>
              {{/if}}
            </div>
            {{#if (eq properties.action "join")}}
              <button class="ui button basic blue" onClick={{action "removeAction" field}}>Remove join <i class="remove icon"></i></button>
            {{else if (eq properties.action "split")}}
              <button class="ui button basic blue" onClick={{action "removeAction" field}}>Remove split <i class="remove icon"></i></button>
              {{#if properties.extractionFunction}}
                <button class="ui button basic green" onClick={{action "removeExtractionFunction" field}}>Remove extraction function <i class="remove icon"></i></button>
              {{/if}}
            {{else}}
              <button class="ui button basic blue" onClick={{action "addAction" field "join"}}>Join two columns for this field</button>
              <button class="ui button basic blue" onClick={{action "addAction" field "split"}}>Split one column for this field</button>
            {{/if}}
            {{#if properties.columns}}
              {{#if (eq currentField "street")}}
                {{#if (and model.oaFields.number.columns model.oaFields.street.columns)}}
                  <div class="ui segments">
                    <div class="ui tertiary segment inverted">
                      <div>You've mapped the two required columns. Would you like to continue mapping the remaining columns?</div>
                      <button class="ui button" onClick={{action "nextField" field}}>Yes, move on to {{nextField}}</button>
                      <button class="ui button" onClick={{action "changeRoute" "contact"}}>No, move on to next step.</button>
                    </div>
                  </div>
                {{/if}}
              {{else if (eq currentField "postcode")}}
                  <div class="ui segments">
                    <div class="ui tertiary segment inverted green">
                      <div>You've mapped all of the columns!</div>
                    </div>
                  </div>
              {{else}}
                 <button class="ui button" onClick={{action "nextField" field}}>Looks good, move on to {{nextField}} <i class="right arrow icon"></i></button>
              {{/if}}
            {{/if}}
          </div>
        </form>

      {{/if}}
    {{/each-in}}
  </div>
  {{nav-buttons sendChangeRoute="changeRoute" back="license" next="contact"}}
</div>