<div class="ui text container">
  <h3 class="first headroom">Column mapping</h3>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>number</th>
        <th>street</th>
        <th>unit</th>
        <th>city</th>
        <th>district</th>
        <th>region</th>
        <th>postcode</th>
      </tr>
    </thead>
    <tbody>
      {{#each exampleRows as |row|}}
        <tr>
          <td>{{row.number}}</td>
          <td>{{row.street}}</td>
          <td>{{row.unit}}</td>
          <td>{{row.city}}</td>
          <td>{{row.district}}</td>
          <td>{{row.region}}</td>
          <td>{{row.postcode}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#each-in model.oaFields as |field properties|}}
    <form class="ui form segment">
      <div class="required field">
        <label>{{field}}{{ui-popup tagName="i" class="help circle icon" content="the house number of an address"}}</label>
          <div class="ui stackable three column center aligned grid">
            <div class={{if (eq properties.action "join") "seven wide column" "sixteen wide column"}}>
              {{#ui-dropdown class="selection fluid" onChange=(action "chooseColumn" field) as |execute mapper|}}
                <div class="default text">
                    Source column headings
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  {{#each columnHeadings as |heading|}}
                    <div class="item" data-value="{{map-value mapper heading}}">
                      {{heading}} (example value: {{sample-data user_data=user_data heading=heading}})
                    </div>
                  {{/each}}
                </div>
              {{/ui-dropdown}}
              {{#if (eq properties.action "split")}}
                {{#if properties.columns}}
                  {{#if properties.extractionFunction}}
                    {{#if (eq properties.extractionFunction "removeDuplicateValue")}}
                      <div class="ui segments">
                        <div class="ui segment">
                          <p>Choose the column with the value you'd like to remove from the first column</p>
                        </div>
                        <div class="ui segment">
                          {{#ui-dropdown class="selection fluid" onChange=(action "chooseColumnToRemove" field) as |execute mapper|}}
                            <div class="default text">
                                Source column headings
                            </div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                              {{#each columnHeadings as |heading|}}
                                <div class="item" data-value="{{map-value mapper heading}}">
                                  {{heading}}
                                </div>
                              {{/each}}
                            </div>
                          {{/ui-dropdown}}
                        </div>
                      </div>
                    {{/if}}
                  {{else}}
                    <div class="ui segments">
                      <div class="ui segment">
                        <p>Choose a split method:</p>
                      </div>
                      <div class="ui segment">
                          <button class="ui button basic green" onClick={{action "setExtractionFunction" field "removePrefixNumber" "Remove prefix street"}}>Remove prefix number</button>
                          <button class="ui button basic green" onClick={{action "setExtractionFunction" field "removePostfixStreet" "Remove postfix street"}}>Remove postfix street</button>
                          <button class="ui button basic green" onClick={{action "setExtractionFunction" field "removeDuplicateValue"}}>Remove value found an another column</button>
                      </div>
                    </div>
                  {{/if}}
                {{else}}
                  <div class="ui segment">
                    <p>Choose a column to split</p>
                  </div>
                {{/if}}
              {{/if}}
            </div>
          {{#if (eq properties.action "join")}}
            <div class="two wide column">
              <a class="item">
                <i class="plus icon"></i>
              </a>
            </div>
            <div class="seven wide column">
              {{#ui-dropdown class="selection fluid" onChange=(action "addColumn" field) as |execute mapper|}}
                <div class="default text">Source column headings</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  {{#each columnHeadings as |heading|}}
                    <div class="item" data-value="{{map-value mapper heading}}">
                      {{heading}}
                    </div>
                  {{/each}}
                </div>
              {{/ui-dropdown}}
            </div>
          {{/if}}
        </div>
        {{#if (eq properties.action "join")}}
          <button class="ui button basic blue" onClick={{action "removeAction" field}}>Remove join <i class="remove icon"></i></button>
        {{else if (eq properties.action "split")}}
          <button class="ui button basic blue" onClick={{action "removeAction" field}}>Remove split <i class="remove icon"></i></button>
          {{#if properties.extractionFunction}}
            <button class="ui button basic green" onClick={{action "removeExtractionFunction" field}}>Remove extraction function <i class="remove icon"></i></button>
          {{/if}}
        {{else}}
          <button class="ui button basic blue" onClick={{action "addAction" field "join"}}>Join two columns for this field</button>
          <button class="ui button basic blue" onClick={{action "addAction" field "split"}}>Split one column for this field</button>
        {{/if}}
      </div>
    </form>
  {{/each-in}}
</div>
{{nav-buttons sendChangeRoute="changeRoute" back="license" next="contact"}}