<div class="ui text container">
  <h3 class="first headroom">Column mapping</h3>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>number</th>
        <th>street</th>
        <th>unit</th>
        <th>city</th>
        <th>district</th>
        <th>region</th>
        <th>postcode</th>
      </tr>
    </thead>
    <tbody>
      {{#each exampleRows as |row|}}
        <tr>
          <td>{{row.number}}</td>
          <td>{{row.street}}</td>
          <td>{{row.unit}}</td>
          <td>{{row.city}}</td>
          <td>{{row.district}}</td>
          <td>{{row.region}}</td>
          <td>{{row.postcode}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{#each-in oaFields as |field category|}}
    <form class="ui form segment">
      <div class="required field">
        <label>{{field}}{{ui-popup tagName="i" class="help circle icon" content="the house number of an address"}}</label>
        {{#if category.action}}
          <div class="ui stackable three column center aligned grid">
            <div class="seven wide column">
             {{#ui-dropdown class="selection fluid" onChange=(action "chooseColumn" field) as |execute mapper|}}
                <div class="default text">Source column headings</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  {{#each columnHeadings as |heading|}}
                    <div class="item" data-value="{{map-value mapper heading}}">
                      {{heading}}
                    </div>
                  {{/each}}
                </div>
              {{/ui-dropdown}}
            </div>
            <div class="two wide column">
              <a class="item">
                <i class="plus icon"></i>
              </a>
            </div>
            <div class="seven wide column">
              {{#ui-dropdown class="selection fluid" onChange=(action "addColumn" field) as |execute mapper|}}
                <div class="default text">Source column headings</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  {{#each columnHeadings as |heading|}}
                    <div class="item" data-value="{{map-value mapper heading}}">
                      {{heading}}
                    </div>
                  {{/each}}
                </div>
              {{/ui-dropdown}}
            </div>
          </div>
          <button class="ui button basic mini blue" onClick={{action "removeJoin" field}}>Remove join</button>
        {{else}}
          {{#ui-dropdown class="selection" onChange=(action "chooseColumn" field) as |execute mapper|}}
            <div class="default text">Source column headings</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each columnHeadings as |heading|}}
                <div class="item" data-value="{{map-value mapper heading}}">
                  {{heading}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
          <button class="ui button basic mini blue" onClick={{action "addJoin" field}}>Join two columns for this field</button>
        {{/if}}
      </div>
    </form>
  {{/each-in}}
</div>
{{nav-buttons sendChangeRoute="changeRoute" back="license" next="contact"}}