<div class="ui text container">
  <h3 class="first headroom">More information</h3>
  <p>
    We'll gather more info from the user about license/attribution/update frequency here.
  </p>
  <div class="ui form segment">
    <div class="field">
      <h4 class="ui dividing header">License information</h4>
      <label>Does the data have a license?</label>
      <button class="ui button {{if (eq model.license_exists true) "active"}}" {{action "licenseExists" true}}>Yes</button>
      <button class="ui button {{if (eq model.license_exists false) "active"}}" {{action "licenseExists" false}}>No</button>
      <button class="ui button {{if (eq model.license_exists "unknown") "active"}}" {{action "licenseExists" "unknown"}}>I don't know</button>
    </div>
    {{#if (eq model.license_exists true)}}
      <form class="ui form">
        <div class="field">
          <div class="fields">
            <div class="seven wide field">
              <label>Choose from license</label>
              {{#ui-dropdown class="selection" selected=model.license onChange=(action "selectLicense") as | execute mapper|}}
                <div class="default text">Licenses</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  {{#each licenses as | license |}}
                    <div class="item" data-value={{map-value mapper license}}>
                      {{license.name}}
                    </div>
                  {{/each}}
                </div>
              {{/ui-dropdown}}
            </div>
            <div class="two wide field">
              OR
            </div>
            <div class="seven wide field">
              <label>Provide link to license</label>
              <input type="text" placeholder="www.sample.com..." value={{model.user_submitted_url}} onInput={{action "userSubmittedLicense"}}>
            </div>
          </div>
        </div>
      </form>
      <div class="field">
        <div class="inline field">
          {{ui-checkbox label="License is share-alike" checked=checked onChange=(action "setShareAlike")}}
        </div>
      </div>
      <div class="field">
        <label>Does the license require attribution?</label>
        <button class="ui button {{if (eq model.attribution true) "active"}}" {{action "setAttribution" true}}>Yes</button>
        <button class="ui button {{if (eq model.attribution false) "active"}}" {{action "setAttribution" false}}>No</button>
        <button class="ui button {{if (eq model.attribution "unknown") "active"}}" {{action "setAttribution" "unknown"}}>I don't know</button>
      </div>
      {{#if (eq model.attribution true)}}
        <div class="field">
          <label>Enter text for attribution</label>
          <input type="text" onInput={{action "setAttributionText"}}>
        </div>
      {{/if}}
    {{/if}}
    <div class="field">
      <h4 class="ui dividing header">Data information</h4>
      <div class="field">
        <label>Frequency of update</label>
        {{#ui-dropdown class="selection" selected=model.license onChange=(action "setFrequency") as | execute mapper|}}
          <div class="default text">Frequency</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each frequencies as | frequency |}}
              <div class="item" data-value={{map-value mapper frequency}}>
                {{frequency}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}}
      </div>
      <div class="field">
          <label>Who provided the data?</label>
          <input type="text" onInput={{action "setSource"}}>
        </div>
    </div>
  </div>
 
  {{nav-buttons back="intro" sendChangeRoute="changeRoute" next="mapping"}}
</div>