<div class="ui text container">
  <h3 class="first headroom">More information</h3>
  <p>
    We'll gather more info from the user about license/attribution/update frequency here.
  </p>
  <div class="ui form segment">
    <div class="field">
      <label>Does the data have a license?</label>
      <button class="ui button {{if (eq model.license_exists true) "active"}}" {{action "licenseExists" true}}>Yes</button>
      <button class="ui button" {{action "licenseExists" false}}>No</button>
      <button class="ui button" {{action "licenseExists" "unknown"}}>I don't know</button>
    </div>
    {{#if (eq model.license_exists true)}}
      <form class="ui form">
        <div class="field">
          <div class="fields">
            <div class="seven wide field">
              <label>Choose from license</label>
              {{#ui-dropdown class="selection" selected=model.license onChange=(action "selectLicense") as | execute mapper|}}
                <div class="default text">Licenses</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  {{#each licenses as | license |}}
                    <div class="item" data-value={{map-value mapper license}}>
                      {{license.name}}
                    </div>
                  {{/each}}
                </div>
              {{/ui-dropdown}}
            </div>
            <div class="two wide field">
              OR
            </div>
            <div class="seven wide field">
              <label>Provide link to license</label>
              <input type="text" placeholder="www.sample.com..." value={{model.user_submitted_url}} onInput={{action "userSubmittedLicense"}}>
            </div>
          </div>
        </div>
      </form>
    {{/if}}
  </div>
 
  {{nav-buttons back="intro" sendChangeRoute="changeRoute" next="mapping"}}
</div>