<div class="ui text container">
	<h3 class="first headroom">Review</h3>
	<table class="ui table">
		<thead>
			<tr><th colspan="2">
				Location<button class="ui right floated basic icon button mini" onClick={{action "editField" "intro"}}><i class="icon edit"></i></button>
			</th>
		</tr></thead>
		<tbody>
			<tr>
				<td class="collapsing">
					Country
				</td>
				<td>{{model.country}}</td>
			</tr>
			<tr>
				<td>
					Region
				</td>
				<td>{{model.region}}</td>
			</tr>
		</tbody>
	</table>
	<table class="ui table">
		<thead>
			<tr><th colspan="2">
				Data<button class="ui right floated basic icon button mini" onClick={{action "editField" "data"}}><i class="icon edit"></i></button>
			</th>
		</tr></thead>
		<tbody>
			<tr>
				<td class="collapsing">
					Data type
				</td>
				<td>{{model.data_type}}</td>
			</tr>
			<tr>
				<td>
					Data link
				</td>
				<td>{{model.data_link}}</td>
			</tr>
		</tbody>
	</table>
	<table class="ui table">
		<thead>
			<tr><th colspan="2">
				Source<button class="ui right floated basic icon button mini" onClick={{action "editField" "source"}}><i class="icon edit"></i></button>
			</th>
		</tr></thead>
		<tbody>
			<tr>
				<td>
					Source name
				</td>
				<td>{{model.source_name}}</td>
			</tr>
			<tr>
				<td>
					Update frequency
				</td>
				<td>{{model.update_frequency}}</td>
			</tr>
		</tbody>
	</table>
	<table class="ui table">
		<thead>
			<tr>
				<th colspan="2">
					License<button class="ui right floated basic icon button mini" onClick={{action "editField" "license"}}><i class="icon edit"></i></button>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					License name
				</td>
				<td>{{model.license.name}}</td>
			</tr>
			 <tr>
				<td>
					License text
				</td>
				<td>{{model.license.text}}</td>
			</tr>
		</tbody>
	</table>
  <div class="ui segment">
    <h3 class="ui floated header">Column mapping</h3><i class="icon edit" onClick={{action "editField" "mapping"}}></i>
    <div class="ui clearing divider"></div>
    {{#each-in model.oaFields as |field properties|}}
      {{#if properties.columns}}
        <table class="ui definition table">
          <tbody>
            <tr>
              <td class="two wide column">Field</td>
              <td>{{field}}</td>
            </tr>
            <tr>
              <td>Column(s)</td>
              <td>{{properties.columns}}</td>
            </tr>
            {{#if properties.action}}
              <tr>
                <td>Function</td>
                <td>
                  {{properties.action}}
                </td>
              </tr>
            {{/if}}
            {{#if properties.extractionFunction}}
              <tr>
                <td>Extraction function</td>
                <td>
                  {{#if (eq properties.extractionFunction "removePrefixNumber")}}
                    Remove prefix number
                  {{else if (eq properties.extractionFunction "removePostfixStreet")}}
                    Remove postfix street
                  {{else if (eq properties.extractionFunction "removeDuplicateValue")}}
                    Remove value found in another column
                  {{/if}}
                </td>
              </tr>
            {{/if}}
            {{#if properties.extractionColumn}}
              <tr>
                <td>Extraction column</td>
                <td>{{properties.extractionColumn}}</td>
              </tr>
            {{/if}}
          </tbody>
        </table>
      {{/if}}
    {{/each-in}}
  </div>
	<table class="ui table">
		<thead>
			<tr>
				<th colspan="2">Maintainer contact information<button class="ui right floated basic icon button mini" onClick={{action "editField" "contact"}}><i class="icon edit"></i></button></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					Name
				</td>
				<td>{{#if model.maintainer_name}}{{model.maintainer_name}}{{else}}<i>not provided</i>{{/if}}</td>
			</tr>
			<tr>
				<td>
					Email
				</td>
				<td>{{model.maintainer_email}}</td>
			</tr>
		</tbody>
	</table>
  <button class="ui button red left floated" onClick={{action "cancel"}}>Cancel</button>
	<button class="ui button green right floated" onClick={{action "submit"}}>Submit</button>
</div>