<div class="ui text container">
  <h3 class="first headroom">Review</h3>
   <div class="ui segment">
    <h3 class="ui floated header">Data</h3><i class="icon edit" onClick={{action "editField" "intro"}}></i>
    <div class="ui clearing divider"></div>
    <div class="ui five column grid">
      <div class="row">
        <div class="two wide column">
          {{#if model.data_url}}Link to data{{/if}}
          {{#if model.data_file}}Data upload file name{{/if}} 
        </div>
        <div class="fluid column">
          {{#if model.data_url}}{{model.data_url}}{{/if}}
          {{#if model.data_file}}{{model.data_file.name}}{{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="ui segment">
    <h3 class="ui floated header">More Info</h3><i class="icon edit" onClick={{action "editField" "more-info"}}></i>
    <div class="ui clearing divider"></div>
    <div class="ui sixteen column grid">
      {{#if model.license}}
        <div class="row">
          <div class="six wide column">
            License name
          </div>
          <div class="ten wide column">
            {{model.license}}
          </div>
        </div>
        <div class="ui section divider"></div>
      {{/if}}
      {{#if model.license_url}}
        <div class="row">
          <div class="six wide column">
            License URL
          </div>
          <div class="ten wide olumn">
            {{model.license_url}}
          </div>
        </div>
        <div class="ui section divider"></div>
      {{/if}}
      {{#if model.attribution}}
        <div class="row">
          <div class="six wide column">
            Attribution
          </div>
          <div class="ten wide column">
            {{model.attribution}}
          </div>
        </div>
        <div class="ui section divider"></div>
      {{/if}}
      {{#if model.attribution_text}}
        <div class="row">
          <div class="six wide column">
            Attribution text
          </div>
          <div class="ten wide column">
            {{model.attribution_text}}
          </div>
        </div>
        <div class="ui section divider"></div>
      {{/if}}
      {{#if model.update_frequency}}
        <div class="row">
          <div class="six wide wide column">
            Update Frequency
          </div>
          <div class="ten wide column">
            {{model.update_frequency}}
          </div>
        </div>
        <div class="ui section divider"></div>
      {{/if}}
      {{#if model.source}}
        <div class="row">
          <div class="six wide column">
            Source
          </div>
          <div class="ten wide column">
            {{model.source}}
          </div>
        </div>
        <div class="ui section divider"></div>
      {{/if}}
    </div>
  </div>
  <div class="ui segment">
    <h3 class="ui floated header">Maintainer contact information</h3><i class="icon edit" onClick={{action "editField" "contact"}}></i>
    <div class="ui clearing divider"></div>
    <div class="ui five column grid">
      <div class="row">
        <div class="two wide column">
          Email 
        </div>
        <div class="fluid column">
          {{model.maintainer_email}}
        </div>
      </div>
      {{#if model.maintainer_name}}
        <div class="ui section divider"></div>
        <div class="row">
          <div class="two wide column">
            Name
          </div>
          <div class="fluid column">
            {{model.maintainer_name}}
          </div>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="ui segment">
    <h3 class="ui floated header">Column mapping</h3><i class="icon edit" onClick={{action "editField" "mapping"}}></i>
    <div class="ui clearing divider"></div>
    {{#each-in model.oaFields as |field properties|}}
      {{#if properties.columns}}
        <table class="ui definition table">
          <tbody>
            <tr>
              <td class="two wide column">Field</td>
              <td>{{field}}</td>
            </tr>
            <tr>
              <td>Column(s)</td>
              <td>{{properties.columns}}</td>
            </tr>
            {{#if properties.action}}
              <tr>
                <td>Function</td>
                <td>
                  {{properties.action}}
                </td>
              </tr>
            {{/if}}
            {{#if properties.extractionFunction}}
              <tr>
                <td>Extraction function</td>
                <td>
                  {{#if (eq properties.extractionFunction "removePrefixNumber")}}
                    Remove prefix number
                  {{else if (eq properties.extractionFunction "removePostfixStreet")}}
                    Remove postfix street
                  {{else if (eq properties.extractionFunction "removeDuplicateValue")}}
                    Remove value found in another column
                  {{/if}}
                </td>
              </tr>
            {{/if}}
            {{#if properties.extractionColumn}}
              <tr>
                <td>Extraction column</td>
                <td>{{properties.extractionColumn}}</td>
              </tr>
            {{/if}}
          </tbody>
        </table>
      {{/if}}
    {{/each-in}}
  </div>
  <button class="ui button red left floated" onClick={{action "cancel"}}>Cancel</button>
  <button class="ui button green right floated" onClick={{action "submit"}}>Submit</button>
</div>
