<div class="ui text container">
  <h3 class="first headroom">Review</h3>
  <table class="ui table">
    <thead>
      <tr><th colspan="2">
        Data
      </th>
    </tr></thead>
    <tbody>
      <tr>
        <td class="collapsing">
          {{#if model.data_url}}Link to data{{/if}}
          {{#if model.data_file}}Data upload file name{{/if}}
        </td>
        <td>
          {{#if model.data_url}}{{model.data_url}}{{/if}}
          {{#if model.data_file}}{{model.data_file.name}}{{/if}}
        </td>
      </tr>
    </tbody>
  </table>
  <table class="ui table">
    <thead>
      <tr>
        <th colspan="2">
          More info<button class="ui right floated basic icon button mini" onClick={{action "editField" "more-info"}}><i class="icon edit"></i></button>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#if model.license}}
        <tr>
          <td>
            License name
          </td>
          <td>{{model.license}}</td>
        </tr>
      {{/if}}
      {{#if model.license_url}}
        <tr>
          <td>
            License URL
          </td>
          <td>{{model.license_url}}</td>
        </tr>
      {{/if}}
      {{#if model.attribution}}
        <tr>
          <td>
            Attribution
          </td>
          <td>{{model.attribution}}</td>
        </tr>
      {{/if}}
      {{#if model.attribution_text}}
        <tr>
          <td>
            Attribution text
          </td>
          <td>{{model.attribution_text}}</td>
        </tr>
      {{/if}}
      {{#if model.update_frequency}}
        <tr>
          <td>
            Update Frequency
          </td>
          <td>{{model.update_frequency}}</td>
        </tr>
      {{/if}}
      {{#if model.source}}
        <tr>
          <td>
            Source
          </td>
          <td>{{model.source}}</td>
        </tr>
      {{/if}}
    </tbody>
  </table>
  <table class="ui table">
    <thead>
      <tr>
        <th colspan="2">Maintainer contact information<button class="ui right floated basic icon button mini" onClick={{action "editField" "contact"}}><i class="icon edit"></i></button></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Name
        </td>
        <td>{{#if model.maintainer_name}}{{model.maintainer_name}}{{else}}<i>not provided</i>{{/if}}</td>
      </tr>
      <tr>
        <td>
          Email
        </td>
        <td>{{model.maintainer_email}}</td>
      </tr>
    </tbody>
  </table>
  <div class="ui segment">
    <h3 class="ui floated header">Column mapping</h3><i class="icon edit" onClick={{action "editField" "mapping"}}></i>
    <div class="ui clearing divider"></div>
    {{#each-in model.oaFields as |field properties|}}
      {{#if properties.columns}}
        <table class="ui definition table">
          <tbody>
            <tr>
              <td class="two wide column">Field</td>
              <td>{{field}}</td>
            </tr>
            <tr>
              <td>Column(s)</td>
              <td>{{properties.columns}}</td>
            </tr>
            {{#if properties.action}}
              <tr>
                <td>Function</td>
                <td>
                  {{properties.action}}
                </td>
              </tr>
            {{/if}}
            {{#if properties.extractionFunction}}
              <tr>
                <td>Extraction function</td>
                <td>
                  {{#if (eq properties.extractionFunction "removePrefixNumber")}}
                    Remove prefix number
                  {{else if (eq properties.extractionFunction "removePostfixStreet")}}
                    Remove postfix street
                  {{else if (eq properties.extractionFunction "removeDuplicateValue")}}
                    Remove value found in another column
                  {{/if}}
                </td>
              </tr>
            {{/if}}
            {{#if properties.extractionColumn}}
              <tr>
                <td>Extraction column</td>
                <td>{{properties.extractionColumn}}</td>
              </tr>
            {{/if}}
          </tbody>
        </table>
      {{/if}}
    {{/each-in}}
  </div>
  <button class="ui button red left floated" onClick={{action "cancel"}}>Cancel</button>
  <button class="ui button green right floated" onClick={{action "submit"}}>Submit</button>
</div>