<div class="ui text container">
	<h3 class="first headroom">Add data source info</h3>
	<p>
		Here's where you can add source information.
	</p>
	{{#with (changeset model SourceValidator) as |changeset|}}
		<div class="ui form segment {{if errorState "error"}}">
			<div class="required field {{if sourceError "error"}}">
				{{validated-input
					label="Data source"
					propertyName="source_name"
					placeholder="source name"
					required=true
					showErrorState=showErrorState
					changeset=changeset }}
			</div>
			<div class="required field {{if frequencyError "error"}}">
				{{validated-input
					label="Update frequency"
					propertyName="update_frequency"
					required=true
					placeholder="frequency"
					changeset=changeset
					showErrorState=showErrorState}}
			</div>
		</div>
		{{nav-buttons
			showError="showError"
			sendChangeRoute="changeRoute"
			back="data"
			next="license"
			changeset=changeset}}
	{{/with}}
</div>